---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="What my goal is"
	pubDate={new Date('Dec 13 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Hello, visitor! I am a software engineer... or at least I am trying to be.
	</p>
	<p>
		Software is such a wide field, so sometimes I learn the very basics of certain concepts. Occassionally, surprisingly, it happens that I know some stuff - then I am able to dive into more advanced concepts.
	</p>
	<p>
		I have some experience working in the field, but I also have a lot of "experience" struggling in the area of software engineering. It's never chill here, is it? Also, I am pretty sure that I am not alone in this.
	</p>
	<p>
		My main goal is to improve my own understanding of different concepts. I want to be able to explain them in my own words. If this is helpful to anyone else too, it will make me extremely happy! :)  
	</p>
</Layout>
